body {
    background-color: #aaabb890;
}

input {
    margin-top: 10px;
    width: 280px !important;
}

textarea {
    max-width: 100%;
    border-radius: 6px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 7px; 
    box-shadow: 6px 6px 6px 6px #888888; 
    border:solid 1px black;
}

.row>div>img, .row>div>i {
    width: 120px;
    height: 160px;
    margin: 20px;
}

#pythondownload, #javadownload {
    width: 100px;
    height: 40px;
    color: white;
    float: right;
}

#clearchanges {
    margin-right: 20px;
    float: left;
    margin-top: 27px;
}

#pythondownload {
    margin-top: 70px
}

#javadownload {
    margin-top: 20px;
}

i {
    margin-top: 70px !important;
}

.row {
    margin-top: 50px !important;
}

button {
    color: white !important;
    letter-spacing: 2px;
    font-weight: 300;
    width: auto !important;
}

.fw-light, .lead {
    letter-spacing: 2px;
}

input[type="file"] { 
    border: 1px solid #b6b7c7e9;
}

#translate {
    top: 40em !important; 
    left:50% !important;
    transform: translate(-50%, 50%) !important;
    font-weight: 300px !important;
    letter-spacing: 2px;
}

#javaTextArea:focus, #pythonTextArea:focus {
    outline: none !important;
    border: none;
    box-shadow: 0 0 10px #1763b4;
}