body {
    background-color: #aaabb890;
}

input {
    margin-top: 10px;
    width: 280px !important;
}

textarea {
    max-width: 100%;
    border-radius: 6px;
    margin-top: 30px;
    padding: 20px;
}

.row>div>img, .row>div>i {
    width: 120px;
    height: 160px;
    margin: 20px;
}

#pythondownload, #javadownload {
    width: 100px;
    height: 40px;
    color: white;
    float: right;
}

#pythondownload {
    margin-top: 60px
}

#javadownload {
    margin-top: 10px;
}

i {
    margin-top: 70px !important;
}

.row {
    margin-top: 50px !important;
}

textarea {
    border-radius: 7px; 
    box-shadow: 6px 6px 6px 6px #888888; 
    border:solid 1px black;
}

button {
    color: white !important;
    letter-spacing: 2px;
    font-weight: 300;
    width: auto !important;
}

.fw-light, .lead {
    letter-spacing: 1px;
}

input[type="file"] { 
    border: 1px solid #b6b7c7e9;
}

#translate {
    position: absolute;top: 50%; left:50%;
    transform: translate(-50%, 50%);
    font-weight: 300px !important;
    letter-spacing: 2px;
}